.endingScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
  }
  
  .gameName {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #ff007f; /* Neon pink color */
  }
  
  .content {
    text-align: center;
  }
  
  .title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .score {
    font-size: 32px;
    margin-bottom: 40px;
  }
  
  .restartButton {
    background-color: #39ff14; /* Neon green */
    color: #000;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
  
  .restartButton:hover {
    transform: scale(1.1);
    background-color: #28cc0f; /* Slightly darker green on hover */
  }
  