.selectSongScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.slider {
  display: flex;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  margin-top: 50px;
}

.song {
  flex: 0 0 200px;
  transition: all 0.5s ease;
  opacity: 0.5;
  transform: scale(0.8);
  text-align: center;
}

.song.activeSong {
  flex: 0 0 300px;
  opacity: 1;
  transform: scale(1);
}

.song img {
  width: 100%;
  border-radius: 10px;
}

.songName {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #fff;
}

.difficulty {
  font-size: 1.2rem;
  margin-top: 5px;
}

.crowdCheer {
  width: 105%;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -20%; /* Anchor at the bottom */
  max-height: 400px; /* Specify desired visible height */
  object-fit: cover; /* Ensure image fills the container */
  overflow: hidden;
}